

body {
position: center ; 
color: #333333;
}

#interview { width:730px;  margin-top: 20px; margin-left: auto; margin-right: auto; top repeat-y;  color: #333;   } 


#gaiyou  {  font-size: 15px ; line-height: 22px ;  padding-top: 0px; padding-bottom: 0px;   text-align:left; }

#syoukai  {
background: #e7e7e7;
margin-top: 25px;
margin-bottom: 0px;
padding-bottom: 8px;
padding-top: 10px;
padding-left: 14px;
padding-right: 14px;
}


.color {color: #daab00; font-weight: bold; 
}

.user { font-size: 14px ; line-height: 20px ;  text-align:left; }

.interviewer { font-size: 15px ; line-height: 20px ;  text-align:left; color:  #1c4295; font-weight: bold;}

.cap { font-weight: bold;   text-align:left; font-size: 14px ; line-height: 18px ; margin-top: 3px; margin-bottom: 5px; }

.cap_c { font-weight: bold;   text-align:center; font-size: 14px ; line-height: 18px ; margin-top: 3px; margin-bottom: 5px; }

.thanks { font-weight: bold; font-size: 15px ; line-height: 20px ;  color: #1c4295; text-align: right ;}

.note {
font-size: 14px;
line-height: 20px ;
text-align:left;
margin-top: 0px;
margin-bottom: 0px;
}


h4 {
padding-right: 0pt;
padding-left: 10px;
font-weight: bold;
font-size: 110%;
background: rgb(234,188,0);
padding-bottom: 4px;
padding-top: 6px;
font-family: メイリオ;
 text-align:left;
}

h5 {
font-size: 20px ;
line-height: 24px ;
font-weight: bold;
margin-top: 0px;
margin-bottom: 5px;
font-family: "メイリオ";
 text-align:left;
}

h6 {
font-size: 14px ;
line-height: 15px ;
font-weight: bold;
margin-top: 3px;
margin-bottom: 8px;
 text-align:left;
}

A:link { 

}

